# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

.svn/all-wcprops

.svn/dir-prop-base

.svn/entries

.svn/text-base/GNUmakefile.svn-base

.svn/text-base/makefile.vc.svn-base

.svn/text-base/postgisraster.h.svn-base

.svn/text-base/postgisrasterdataset.cpp.svn-base

.svn/text-base/postgisrasterdriver.cpp.svn-base

.svn/text-base/postgisrasterrasterband.cpp.svn-base

.svn/text-base/readme.svn-base

.svn/text-base/todo.svn-base
